<h1 class="pageTitle">New Player</h1>

<div id="newPlayerForms">
    <form action='/teams/{{teamId}}/players' method='POST'>
        <div class="editPlayerInput">Name<input type='text' name='name'></div>
        <div class="editPlayerInput">Position<input type='text' name='position'></div>
        <div class="editPlayerInput">Age<input type='text' name='age'></div><br>
        <div><input class="button is-link" type='submit' value='Create New Player'>
            <a class="button" href='/teams'>CANCEL</a></div>
    </form>
</div>