<h1 class="pageTitle">Edit Team</h1>
<form action='/teams/{{team._id}}?_method=PUT' method='POST'>
    <div>Name<input type='text' name='name' value='{{team.name}}'></div>
    <div>City<input type='text' name='city' value='{{team.city}}'></div>
    <div><input type='submit' value='Update Team'></div>
</form>
