<h1 class="pageTitle">GOUDA'S LEAGUE<br>
<a class="button is-link" id="addNewTeamButton" href='/teams/new'>Add New Team</a></h1>
<div class="allTeams">
    {{#each teams}}
      <div id='teamNameLogo'>
          <a href='/teams/{{this._id}}'>
          <span><image id="teamLogoHome" src="{{this.image}}"></span><br>
            {{this.city}} {{this.name}}<br>
            </a>   
    </div>
            {{/each}}
</div>