<h1 class="pageTitle">New Team</h1>

<form action='/teams' method='POST'>
    <div class="control">
        <input class="input" type="text" placeholder="Team Name" name='name'>
    </div><br>
    <div class="control">
        <input class="input" type="text" placeholder="Team Location" name='city'>
    </div><br>


    <div><input type='submit' value='Create New Team'></div>
</form>