<h1 class="pageTitle">New Team</h1>

<div>
    <form id="newTeamForms" action='/teams' method='POST'>
        <div class="control">
            <input class="input" type="text" placeholder="Team Location" name='city'>
        </div><br>
        <div class="control">
            <input class="input" type="text" placeholder="Team Name" name='name'>
        </div><br>
        <div class="control">
            <input class="input" type="text" placeholder="Team Description" name='description'>
        </div><br>
        <div class="control">
            <input class="input" type="text" placeholder="Team Logo Url" name='image'>
        </div><br>
        <div>
            <input class="button is-link" type='submit' value='Create New Team'>
            <a class="button" href='/teams'>CANCEL
            </a>
        </div>
    </form>
</div>