<h1>New Team</h1>

<form action='/teams' method='POST'>
    <div class="control">
        <input class="input" type="text" placeholder="Team Name" name='name'>
    </div><br>
    <div class="control">
        <input class="input" type="text" placeholder="Team Location" name='city'>
    </div><br>

<div class="field">
  <div class="control">
    <input class="input is-large" type="text" placeholder="Team Location" name='city'>
  </div>
</div>

    <div><input type='submit' value='Create New Team'></div>
</form>