<div id="landingPageDiv">
    <ul id="landingPageList">
        <li class="landingPageListItem">Who would win in a basketball game between wizards and professional soccer players?</li>
        <li class="landingPageListItem">Do you think you and your friends could have taken down Michael Jordan and some Looney Tunes?</li>
        <li class="landingPageListItem">Set up hypothetical games between teams of your choosing.  Assign positions to each team member and scenarios like Harry Potter trying to stop Bugs Bunny from driving the lane!</li>
    </ul>
   <div id="commisionerButton"><a class="button is-link" href='/teams'>Let's Go!</a>
   </div>
</div>