<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Chivo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>
  <body>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
       League of Your Imagination
      </h1>
      <h2 class="subtitle">
        Taking fantasy sports one step further
      </h2>
    </div>
  </div>
</section>
    <main>
    {{{body}}}
    </main>
  </body>
</html>
