body {
  padding: 0px;
  margin: 0px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;

}
header {
  color: white;
  border: 0px;
  margin: 0;
  padding: 0;
  height: 100px;
  background-image: url("https://www.silverspringcommunity.ca/images/Image/headers/is505125162_basketball.jpg");
}
.pageTitle {
  font-family: 'Chivo', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}
main{
  text-indent: 1px;
}

.teamImage {
  max-height: 300px;
}
.locationImage{
  max-height: 500px;
}
#cardImage {
  border: 2px solid gold;
  max-width: 50%;
  max-height: 700px;
  padding: 5% 5% 15% 5%;
  margin: 10%;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cardBorder {
  padding: 10%;
  background-color: white;
}

.card {
  position: relative;
  max-width: 60%;
}

.card2 {
  background-color: white;
}

/* League Page */
#teamLogoHome {
  max-width: 20%;
  max-height: 100px;
}
#teamNameLogo {
  text-align: center;
}