body {
  padding: 0px;
  margin: 0px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;

}
header {
  color: white;
  border: 0px;
  margin: 0;
  padding: 0;
  height: 100px;
  background-color: darkslategray;
}

main{
  text-indent: 1px;
}

.teamImage {
  max-height: 300px;
}
.locationImage{
  max-height: 500px;
}
#cardImage {
  border: 2px solid gold;
  max-width: 50%;
  max-height: 700px;
  padding: 5% 5% 15% 5%;
  margin: 10%;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cardBorder {
  padding: 10%;
  background-color: white;
}
h1 {
  border: 0;
  padding: 0;
  margin: 0;
  text-align: center;
}
.card {
  position: relative;
  max-width: 60%;
}
h2 {
  position: absolute;
  bottom: 0px;
  max-width: 50%;
  text-align: justify;
  vertical-align: 0%;
}
.card2 {
  background-color: white;
}

/* League Page */
#teamLogoHome {
  max-width: 15%;
  max-height: 100px;
}
#teamNameLogo {
  text-align: center;
}