<h1 class="pageTitle">New Game</h1>

<form action='/teams/{{teamId}}/games' method='POST'>
    <div>Date<input type='text' name='date'></div>
    <div>Time<input type='text' name='time'></div>
    <div>Opponent<input type='text' name='opponent'></div>
    <div>Location<input type='text' name='location'></div>
    <div><input type='submit' value='Create New Game'></div>
</form>